body,html{
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
}
ul{
    list-style: none;
}

header{
    .header-billbroad{
        background-image: url('../../assets/images/bg-header.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        .title-header{
            color: white;
            h1{
                font-size: 60px;
                font-weight: normal;
            }
        }
        .content-header{
            p{
                color: white;
                font-size: 20px;
            }
        }
        .play-now{
            text-transform: uppercase;
            color: white;
            border: 2px solid white;
            background-color: #FF0000;
            padding: 15px 54px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            &:hover{
                background-color: rgba(255, 0, 0, 0.836);
            }
        }
    }
}
main{
    .get-started{
        .title-get{
            text-align: center;
            h1{
                font-size: 50px;
                text-transform: uppercase;
                color: #001EAE;
                font-weight: normal;
            }
        }
        .choose{
            height: 215px;
            .choose-number{
                width: 320px;
                border: 1px solid #041B85;
                .icon{
                    img{
                        width: 65px;
                        height: 65px;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
        .enter{
            height: 215px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 120px;
            padding-right: 120px;
            .choose-number{
                width: 320px;
                border: 1px solid #041B85;
                .icon{
                    img{
                        width: 65px;
                        height: 65px;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
        .win{
            height: 215px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .choose-number{
                width: 320px;
                border: 1px solid #041B85;
                .icon{
                    img{
                        width: 65px;
                        height: 65px;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
    }
    .section-blue{
        margin-bottom: 50px;
        background-image: url(../images/bg-blue.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .nav-blue{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 100px 0;
            ul{
                li{
                    .text-li{
                        font-size: 22px;
                        color: white;
                    }
                }
            }
        }
        .bg-right-blue{
            .img-blue{
                width: 100%;
            }
            .day-hours-min{
                position: absolute;
                top: 49%;
                left: 53%;
                transform: translate(-50%, -50%);
                .days{
                    background-image: url(../images/day.png);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    height: 30vh;
                    width: 165px;
                    color: white;
                    h1{
                        font-size: 70px;
                    }
                    span{
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .evaluate-of-player{
        .title-evaluate{
            h1{
                font-size: 50px;
                color: #001EAE;
                font-weight: normal;
            }
        }
        .evaluate{
            padding-left: 80px;
            padding-right: 80px;
            .evaluate-table{
                max-height: 1000px;
                border: 3px solid #707070 !important;

                table{
                    border-collapse: unset;
                    // max-height: 1000px !important;
                    tr{
                        td{
                            border: none;
                            vertical-align: middle;
                            font-size: 20px;
                            h3{
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 419px) {
    header{
        .header-billbroad{
            height: 65vh !important;
            .title-header{
                h1{
                    font-size: 30px !important;
                }
            }
            .content-header{
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                p{
                    font-size: 12px !important;
                }
            }
            .play-now{
                padding: 8px 25px !important;
                font-size: 10px !important;
            }
        }
    }
    .get-started{
        .title-get{
            h1{
                font-size: 30px !important;
            }
        }
        .choose{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            .choose-number{
                width: 300px !important;
                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
        .enter{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            .choose-number{
                width: 300px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
        .win{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            .choose-number{
                width: 300px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
    }
    .section-blue{
        .nav-blue{
            padding-top: 50px !important;
            padding-bottom: 0 !important;
            ul{
                li{
                    img{
                        width: 20px !important;
                        height: 20px !important;
                    }
                    .text-li{
                        font-size: 15px !important;
                    }
                }
            }
        }
        .bg-right-blue{
            .day-hours-min{
                .days{
                    width: 55px !important;
                    height: 90px !important;
                    h1{
                        font-size: 25px !important;
                    }
                    span{
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
    .evaluate-of-player{
        .title-evaluate{
            h1{
                font-size: 30px !important;

            }
        }
        .evaluate{
            padding-left: 20px !important;
            padding-right: 20px !important;
            .evaluate-table{
                max-height: 550px !important;
            }
        }
    }
}
@media (min-width: 420px) and (max-width: 599px){
    header{
        .header-billbroad{
            height: 50vh !important;
            .title-header{
                h1{
                    font-size: 40px !important;
                }
            }
            .content-header{
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                p{
                    font-size: 12px !important;
                }
            }
            .play-now{
                padding: 8px 25px !important;
                font-size: 10px !important;
            }
        }
    }
    .get-started{
        .title-get{
            h1{
                font-size: 30px !important;
            }
        }
        .choose{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            .choose-number{
                width: 300px !important;
                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
        .enter{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            .choose-number{
                width: 300px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
        .win{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            .choose-number{
                width: 300px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
    }
    .section-blue{
        .nav-blue{
            padding-top: 50px !important;
            padding-bottom: 0 !important;
            ul{
                li{
                    img{
                        width: 20px !important;
                        height: 20px !important;
                    }
                    .text-li{
                        font-size: 15px !important;
                    }
                }
            }
        }
        .bg-right-blue{
            .day-hours-min{
                .days{
                    width: 60px !important;
                    height: 100px !important;
                    h1{
                        font-size: 25px !important;
                    }
                    span{
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
    .evaluate-of-player{
        .title-evaluate{
            h1{
                font-size: 30px !important;

            }
        }
        .evaluate{
            padding-left: 20px !important;
            padding-right: 20px !important;
            .evaluate-table{
                max-height: 550px !important;
            }
        }
    }
}
@media (min-width: 600px) and (max-width: 767px){
    header{
        .header-billbroad{
            height: 60vh !important;
            .title-header{
                h1{
                    font-size: 50px !important;
                }
            }
            .content-header{
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                p{
                    font-size: 12px !important;
                }
            }
            .play-now{
                padding: 8px 25px !important;
                font-size: 10px !important;
            }
        }
    }
    .get-started{
        .title-get{
            h1{
                font-size: 30px !important;
            }
        }
        .choose{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 5px !important;
            .choose-number{
                width: 270px !important;
                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
        .enter{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 5px !important;
            padding-right: 0px !important;
            margin-bottom: 20px !important;
            .choose-number{
                width: 270px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
        .win{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            .choose-number{
                width: 270px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
    }
    .section-blue{
        .nav-blue{
            padding-top: 50px !important;
            padding-bottom: 0 !important;
            ul{
                li{
                    img{
                        width: 20px !important;
                        height: 20px !important;
                    }
                    .text-li{
                        font-size: 15px !important;
                    }
                }
            }
        }
        .bg-right-blue{
            .day-hours-min{
                .days{
                    width: 100px !important;
                    height: 156px !important;                
                    h1{
                        font-size: 35px !important;
                    }
                    span{
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
    .evaluate-of-player{
        .title-evaluate{
            h1{
                font-size: 30px !important;

            }
        }
        .evaluate{
            padding-left: 20px !important;
            padding-right: 20px !important;
            .evaluate-table{
                max-height: 500px !important;
                table{
                    display: flex !important;
                    justify-content: center !important;
                }    
            }
            
        }
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    header{
        .header-billbroad{
            height: 90vh !important;
            .title-header{
                h1{
                    font-size: 45px !important;
                }
            }
            .content-header{
                padding-top: 10px !important;
                padding-bottom: 20px !important;
                p{
                    font-size: 16px !important;
                }
            }
            .play-now{
                padding: 10px 40px !important;
                font-size: 15px !important;
            }
        }
    }
    .get-started{
        .title-get{
            h1{
                font-size: 30px !important;
            }
        }
        .choose{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 0px !important;
            padding-right: 5px !important;
            .choose-number{
                width: 300px !important;
                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
        .enter{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 5px !important;
            padding-right: 0px !important;
            margin-bottom: 20px !important;
            .choose-number{
                width: 300px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
        .win{
            height: 79px !important;
            justify-content: unset !important;
            padding-left: 10px !important;
            padding-right: 0px !important;
            .choose-number{
                width: 300px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
    }
    .section-blue{
        .nav-blue{
            ul{
                li{
                    img{
                        width: 20px !important;
                        height: 20px !important;
                    }
                    .text-li{
                        font-size: 15px !important;
                    }
                }
            }
        }
        .bg-right-blue{
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            .day-hours-min{
                .days{
                    width: 80px !important;
                    height: 110px !important;
                    h1{
                        font-size: 25px !important;
                    }
                    span{
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
    .evaluate-of-player{
        .title-evaluate{
            h1{
                font-size: 30px !important;

            }
        }
        .evaluate{
            padding-left: 20px !important;
            padding-right: 20px !important;
            
        }
    }
}
@media(min-width: 992px) and (max-width: 1024px){
    header{
        .header-billbroad{
            height: 100vh !important;
            .title-header{
                h1{
                    font-size: 60px !important;
                }
            }
            .content-header{
                padding-top: 10px !important;
                padding-bottom: 20px !important;
                p{
                    font-size: 18px !important;
                }
            }
            .play-now{
                padding: 14px 50px !important;
                font-size: 18px !important;
            }
        }
    }
    .get-started{
        .title-get{
            h1{
                font-size: 30px !important;
            }
        }
        .choose{
            height: 200px !important;
            padding-left: 0px !important;
            padding-right: 5px !important;
            .choose-number{
                width: 300px !important;
                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
        .enter{
            height: 200px !important;
            padding-left: 20px !important;
            padding-right: 0px !important;
            margin-bottom: 20px !important;
            .choose-number{
                width: 300px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
        .win{
            height: 200px !important;
            padding-left: 20px !important;
            padding-right: 0px !important;
            .choose-number{
                width: 300px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
    }
    .section-blue{
        .nav-blue{
            ul{
                li{
                    img{
                        width: 20px !important;
                        height: 20px !important;
                    }
                    .text-li{
                        font-size: 15px !important;
                    }
                }
            }
        }
        .bg-right-blue{
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            .day-hours-min{
                .days{
                    width: 100px !important;
                    height: 110px !important;
                    h1{
                        font-size: 30px !important;
                    }
                    span{
                        font-size: 15px !important;
                    }
                }
            }
        }
    }
    
}
@media(min-width: 1025px) and (max-width: 1399px){
    header{
        .header-billbroad{
            height: 100vh !important;
            .title-header{
                h1{
                    font-size: 60px !important;
                }
            }
            .content-header{
                padding-top: 10px !important;
                padding-bottom: 20px !important;
                p{
                    font-size: 20px !important;
                }
            }
            .play-now{
                padding: 14px 50px !important;
                font-size: 18px !important;
            }
        }
    }
    .get-started{
        .title-get{
            h1{
                font-size: 40px !important;
            }
        }
        .choose{
            height: 170px !important;
            padding-left: 0px !important;
            padding-right: 5px !important;
            .choose-number{
                width: 320px !important;
                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
        .enter{
            height: 170px !important;
            padding-left: 20px !important;
            padding-right: 0px !important;
            margin-bottom: 20px !important;
            .choose-number{
                width: 320px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    color: #001EAE;
                    font-size: 20px;
                }
            }
        }
        .win{
            height: 170px !important;
            padding-left: 20px !important;
            padding-right: 0px !important;
            .choose-number{
                width: 320px !important;

                .icon{
                    img{
                        width: 45px !important;
                        height: 45px !important;
                    }
                }
                .text-get{
                    font-size: 20px;
                }
            }
        }
    }
    .section-blue{
        .nav-blue{
            ul{
                li{
                    img{
                        width: 20px !important;
                        height: 20px !important;
                    }
                    .text-li{
                        font-size: 15px !important;
                    }
                }
            }
        }
        .bg-right-blue{
            .day-hours-min{
                top: 43% !important;
                .days{
                    width: 110px !important;
                    height: 180px !important;
                    h1{
                        font-size: 40px !important;
                    }
                    span{
                        font-size: 15px !important;
                    }
                }
            }
        }
    }
}




.about-us{
   background-image: url('../../assets/images/2020-05-04_23-32-25.png');
   background-repeat: no-repeat;
   background-position: top;
    background-size: cover;
    margin-bottom: 60px;
    padding: 200px 50px;
    .content-about-us{
       
       z-index: 10;
       bottom: 0;
       h1{
           font-size: 60px;
           font-weight: 400 !important;
       }
       p{
           font-size: 20px;
       }
       img{
           padding-top: 59px;
           z-index: 0;
           opacity: 0.8;
       }
   } 

}
.chart-price{
    padding: 100px;
    h1{
        font-weight: 600;
    }
}

.contact-us{
    background-image: url('../../images/Group\ 456.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    h1{
        // font-size: 30px;
        font-weight: 500;
        color: #061E91;
    }
    p{
        font-size: 18px;
    }
    .contact{
        input{
            width: 100%;
            padding: 20px;
            margin: 10px auto;
            border: none;
            color: black;
            border: 2px solid #061E91;
            &::placeholder{
                color: black;
            }
        }
        .message{
            padding: 10px;
            width: 100%;
            outline: none;
            background-color: white;
            color: black;
            border: 2px solid #061E91;
            &::placeholder{
                color: black;
            }
        }
        .submit{
            background-color: #061E91;
            width: 100%;
            border: none;
            padding: 7px 0;
            font-size: 22px;
            font-weight: 600;
            color: white;
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }
}
#footer{
    background-image: url("../../assets/images/bg-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 100px;
    .content-footer{
        padding: 0 100px;
        .text{
            font-size: 16px;
        }
    }
    ul{
        font-size: 14px;
        li{
            margin-bottom: 10px;
        }
        a{
            text-decoration: none;
            color: white;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .inp-email{
        input{
            background: transparent;
            height: 50px;
            width: 90%;
            border-radius: 5px;
            color: white;
            &::placeholder{
                color: white;
            }
        }
        button{
            background-color: #67FDCF;
            width: 140px !important;
            height: 50px;
            border: none;
            border-radius: 5px;
        }
    }
    .icons{
        div{
            height: 40px;
            width: 40px;
            border-radius: 50%;        
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .footer-bottom{
        padding: 20px;
        border-top: 1px solid #979595;
        margin-top: 50px;
        span{
            color:#67FDCF;
        }
    }
}
.past-drawings{
    .icalendar__today{
        background-color: #061E91;
        color: #fff;
    }
    margin-top: 100px;
    padding: 70px 100px;
    img{
        top: 0;
        left: 0;
        z-index: -1;
    }
    h1{
        z-index: 8;
        text-shadow: -1px 0 #061E91, 0 1px #061E91, 1px 0 #061E91, 0 -1px #061E91;
    }
    .content-past-drawings{
        .start-date, .end-date{
            .content{
                height: 70px;
                width: 100%;
                padding: 10px;
                border: 2px solid #061E91;
                div{
                    box-sizing: border-box;
                    img{
                        object-fit: contain;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                input{
                    border: none !important;
                    width: 100%;

                    
                }
            }
        }
        .btn-play{
            border: 1px solid #061E91;
            height: 70px;
            width: 70px;
        }
        .dateMonthYear{
            .content{
                background-color: #061E91;
                color: white;
                height: 90px;
                font-size: 24px;
                width: 100%;
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .icalendar__prev, .icalendar__next{
        position: absolute;
        bottom: -148%;
        background: none !important;
    }
    .icalendar__prev{
        left: 8px;
    }
     .icalendar__next{
        right: 8px;
     }
     .icalendar {
         background-color: white;
         border: 2px solid #061E91;
         padding-bottom: 30px;
         margin-top: 20px;
         margin-bottom: 20px;
     }
     
     .icalendar__month {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         color: black;
     }
     .icalendar__days div{
        height: 60px ;
        border: 1px solid #707070;
        display: flex;
        justify-content: end;
        align-self: flex-end;
        align-items: flex-end;
        width: 14.285%;
        &:last-child{
            margin-right: 0 !important;
        }
        
     }
     .icalendar__days div{
         padding: 10px;
     }
     .icalendar__days div span{
         width: 100%;
         text-align: right !important;
         align-self: flex-end;
     }
     .icalendar__days, .icalendar__week-days {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap
     }
     
     .icalendar__week-days div {
         border-left: 3px solid white;
         width: 100%;
         background-color: #E4E6E8;
         font-weight: 700;
         padding: 15px 0;
         color: black;
         font-size: 10px;
         letter-spacing: 1px;
         text-align: right;
     }
     
     .icalendar__week-days {
         color: #fff;
         display: flex ;
     }
     
     .icalendar__days label, .icalendar__week-days div {
         width: 14.285%;
         text-align: center
     }
     
     .icalendar__days label {
         display: block;
         position: relative;
         padding: 4px 0;
     }
     
     .icalendar__days label.chosen_date {
         color: #FFF;
     }
     
     .icalendar__days input {
         position: absolute;
         top: 0;
         left: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100%;
         visibility: hidden;
     }
     
     .icalendar__days div {
         -webkit-transition: .3s;
         transition: .3s
     }
     
     .icalendar__days div:hover {
         background-color: #dfe6e9;
         cursor: pointer
     }
     
     
     
     .icalendar__next-date, .icalendar__prev-date {
         background-color: #E4E6E8;
        color: #928f90;
        border-top: none !important;
     }
     
     div.icalendar__next-date:hover, div.icalendar__prev-date:hover {
         background-color: transparent;
         cursor: text
     }
     
     .icalendar__current-date #icalendarMonth {
         margin-bottom: 0;
         padding: 0;
         padding: 10px 15px;
         font-size: 36px;
         color: #061E91;
         border-bottom: 2px solid #041B85;
         font-weight: 700;
         text-transform: uppercase;
     }
     .icalendar__current-date #icalendarYear{
        padding: 10px 15px;
        font-size: 30px;
        font-weight: 500;
        color: #000000;
     }
     #icalendarDateStr {
         font-size: 13px;
         color: rgba(255, 255, 255, .9);
         text-transform: uppercase;
     }
     
     .icalendar__next, .icalendar__prev {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         background-color: rgba(0, 0, 0, .1);
         border-radius: 50%;
         width: 30px;
         height: 30px;
         font-size: 15px;
         line-height: 1;
         -webkit-transition: .3s;
         transition: .3s;
         cursor: pointer
     }
     
     .icalendar__next:hover, .icalendar__prev:hover {
         background-color: rgba(0, 0, 0, .2)
     }
     
     .fix-departure-date-span {
         position: relative;
         display: inline-block;
         padding: 6px 16px 6px 6px;
         background-color: white;
         border: 1px solid rgba(0, 0, 0, 0.2);
         margin: 4px;
         border-radius: 4px;
         line-height: 1;
         font-size: 12px;
         letter-spacing: 1px;
     }
     
     .fix-departure-date-span .ddt-fix-departure-calendar-date-remove {
         position: absolute;
         top: 0;
         right: 0;
         padding: 2px;
         width: 16px;
         height: 16px;
         color: rgba(0, 0, 0, 0.7);
         font-size: 10px;
         text-decoration: none;
         text-align: center;
     }
     
     .fix-departure-date-span .ddt-fix-departure-calendar-date-remove:hover {
         color: red;
     }
     
     textarea.meta-fix-departure-calendar {
         width: 100%;
     }
     
     .ddt-fix-departure-calendar-box {
         display: flex;
         flex-wrap: wrap;
     }
     
     .ddt-fix-departure-calendar-box .ddt-fix-departure-calendar-box__column {
         width: 270px;
     }
     
     .ddt-fix-departure-calendar-box .ddt-fix-departure-calendar-box__column + .ddt-fix-departure-calendar-box__column {
         width: calc(100% - 275px);
         padding: 40px 10px;
     }
     
     @media all and (max-width: 540px) {
         .ddt-fix-departure-calendar-box .ddt-fix-departure-calendar-box__column + .ddt-fix-departure-calendar-box__column {
             width: 100%;
             background-color: rgba(0, 0, 0, 0.01);
             padding-top: 20px;
             padding-bottom: 20px;
         }
     }





}
@media (max-width: 768px){
    .contact-us{
        padding-top: 230px;
        h1{
            font-size: 30px !important;
        }
        p{
            font-size: 15px !important;
        }
        .btn-contact{
            font-size: 22px !important;
        }
        .contact{
            .submit{
                font-size: 22px;
            }
        }
    }
    .past-drawings{
        h1{
            font-size: 30px;
        }
    }
    .contact-us{
        .btn-contact{
            margin: 0 !important;
            margin-bottom: 10px !important;
        }
        input{
            margin: 10px auto !important;
        }
        .text-area{
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .submit{
            margin-top: 0px !important;
        }
    }
    .chart-price{
        h1{
            font-size: 30px;
        }
    }
}
@media (max-width: 576px){
    .contact-us{
        margin-top: -70px !important;
        .btn-contact{
            margin: 0 !important;
            margin-bottom: 10px !important;
        }
        input{
            margin: 10px auto !important;
        }
        .text-area{
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .submit{
            margin-top: 0px !important;
        }
    }
    .about-us{
        padding: 100px 0px;
        h1{
            text-align: center;
            font-size: 25px !important;
        }
        p{
            font-size: 15px !important;
            text-align: center;
        }
    }
    .past-drawings{
        padding: 10px !important;
        h1{
            font-size: 25px;
        }
        .icalendar__prev, .icalendar__next{
            top: 40px!important;
            img{
                width: 70% !important;
            }
        }
        .icalendar__current-date{
            #icalendarMonth{
                font-size: 20px;
            }
            #icalendarYear{
                font-size: 16px;
            }
        }
    }
    .chart-price{
        padding: 50px 0px !important;
    }
    .chart-price{
        .scroll{
            overflow-x: scroll;
            color: rgb(6, 129, 136);
            #myChart{
                width: 600px !important;
            }
        }
        padding: 100px 50px;
        
    }
    #footer{
        .content-footer{ 
            padding: 0px 70px;
        }
    }
}
@media (max-width: 375px){
    .contact-us{
        margin-top: -150px !important;
    }
    #footer{
        .content-footer{ 
            padding: 0px 50px;
        }
    }
}
@media(max-width:768px){
    .past-drawings{
        
        padding: 70px 50px;
        .content-past-drawings{
            .dateMonthYear{
                .content{
                    margin-bottom: 20px;
                }
            }
        }
        .end-date p{
            color: white !important;
        }
        .icalendar__week-days div{
            font-size: 10px;
        }
    }
}
@media (min-width: 1600px){
    .contact-us{
        padding: 134px 0;
        h1{
            font-size: 100px;
            font-weight: 500;
            color: #061E91;
        }
        p{
            font-size: 23px;
        }
        .contact{
            input{
                width: 100%;
                font-size: 26px;
                padding: 20px;
                margin: 10px auto;
                border: none;
                color: black;
                border: 2px solid #061E91;
                &::placeholder{
                    color: black;
                }
            }
            .message{
                padding: 10px;
                font-size: 26px;
                width: 100%;
                outline: none;
                background-color: white;
                color: black;
                border: 2px solid #061E91;
                &::placeholder{
                    color: black;
                }
            }
            .submit{
                background-color: #061E91;
                width: 100%;
                border: none;
                padding: 7px 0;
                font-size: 35px;
                font-weight: 600;
                color: white;
                margin-top: 10px;
                margin-bottom: 40px;
            }
        }
    }
    #footer{
        background-image: url("../../assets/images/bg-footer.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding-top: 100px;
        .content-footer{
            padding: 0 100px;
            .text{
                font-size: 18px;
            }
            h3{
                font-size: 48px;
            }
        }
        .title{
            font-size: 30px;
        }
        ul{
            font-size: 14px;
            li{
                margin-bottom: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 24px;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            
        }
        .inp-email{
            input{
                background: transparent;
                height: 100px;
                width: 80%;
                border-radius: 5px;
                &::placeholder{
                    color: white;
                    font-size: 30px;
                }
            }
            button{
                background-color: #67FDCF;
                width: 100px;
                height: 100px;
                border: none;
                border-radius: 5px;
            }
        }
        .icons{
            div{
                height: 40px;
                width: 40px;
                border-radius: 50%;        
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .footer-bottom{
            padding: 20px;
            border-top: 1px solid #979595;
            margin-top: 50px;
            p{
                font-size: 24px;
            }
            span{
                color:#67FDCF;
            }
        }
    }
}
@media ( min-width: 576px) and ( max-width: 991px){
    .about-us{
        padding: 100px 0px;
        h1, p{
            text-align: center;
        }
        h1{
            font-size: 50px !important;
        }
    }
    .chart-price{
        padding: 100px 20px;
        h1{
            font-size: 30px;
        }
    }
    .past-drawings{
        padding: 100px 20px;
    }
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}