body, html {
  font-family: 'Lato', sans-serif !important;
  font-weight: bold;
}

ul {
  list-style: none;
}

header .header-billbroad {
  background-image: url("../../assets/images/bg-header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-billbroad .title-header {
  color: white;
}

header .header-billbroad .title-header h1 {
  font-size: 60px;
  font-weight: normal;
}

header .header-billbroad .content-header p {
  color: white;
  font-size: 20px;
}

header .header-billbroad .play-now {
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  background-color: #FF0000;
  padding: 15px 54px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

header .header-billbroad .play-now:hover {
  background-color: rgba(255, 0, 0, 0.836);
}

main .get-started .title-get {
  text-align: center;
}

main .get-started .title-get h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #001EAE;
  font-weight: normal;
}

main .get-started .choose {
  height: 215px;
}

main .get-started .choose .choose-number {
  width: 320px;
  border: 1px solid #041B85;
}

main .get-started .choose .choose-number .icon img {
  width: 65px;
  height: 65px;
}

main .get-started .choose .choose-number .text-get {
  color: #001EAE;
  font-size: 20px;
}

main .get-started .enter {
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
}

main .get-started .enter .choose-number {
  width: 320px;
  border: 1px solid #041B85;
}

main .get-started .enter .choose-number .icon img {
  width: 65px;
  height: 65px;
}

main .get-started .enter .choose-number .text-get {
  color: #001EAE;
  font-size: 20px;
}

main .get-started .win {
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .get-started .win .choose-number {
  width: 320px;
  border: 1px solid #041B85;
}

main .get-started .win .choose-number .icon img {
  width: 65px;
  height: 65px;
}

main .get-started .win .choose-number .text-get {
  color: #001EAE;
  font-size: 20px;
}

main .section-blue {
  margin-bottom: 50px;
  background-image: url(../images/bg-blue.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main .section-blue .nav-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

main .section-blue .nav-blue ul li .text-li {
  font-size: 22px;
  color: white;
}

main .section-blue .bg-right-blue .img-blue {
  width: 100%;
}

main .section-blue .bg-right-blue .day-hours-min {
  position: absolute;
  top: 49%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .section-blue .bg-right-blue .day-hours-min .days {
  background-image: url(../images/day.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30vh;
  width: 165px;
  color: white;
}

main .section-blue .bg-right-blue .day-hours-min .days h1 {
  font-size: 70px;
}

main .section-blue .bg-right-blue .day-hours-min .days span {
  font-size: 20px;
  text-transform: uppercase;
}

main .evaluate-of-player .title-evaluate h1 {
  font-size: 50px;
  color: #001EAE;
  font-weight: normal;
}

main .evaluate-of-player .evaluate {
  padding-left: 80px;
  padding-right: 80px;
}

main .evaluate-of-player .evaluate .evaluate-table {
  max-height: 1000px;
  border: 3px solid #707070 !important;
}

main .evaluate-of-player .evaluate .evaluate-table table {
  border-collapse: unset;
}

main .evaluate-of-player .evaluate .evaluate-table table tr td {
  border: none;
  vertical-align: middle;
  font-size: 20px;
}

main .evaluate-of-player .evaluate .evaluate-table table tr td h3 {
  font-size: 25px;
}

@media (max-width: 419px) {
  header .header-billbroad {
    height: 65vh !important;
  }
  header .header-billbroad .title-header h1 {
    font-size: 30px !important;
  }
  header .header-billbroad .content-header {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }
  header .header-billbroad .content-header p {
    font-size: 12px !important;
  }
  header .header-billbroad .play-now {
    padding: 8px 25px !important;
    font-size: 10px !important;
  }
  .get-started .title-get h1 {
    font-size: 30px !important;
  }
  .get-started .choose {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .get-started .choose .choose-number {
    width: 300px !important;
  }
  .get-started .choose .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .choose .choose-number .text-get {
    font-size: 20px;
  }
  .get-started .enter {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .get-started .enter .choose-number {
    width: 300px !important;
  }
  .get-started .enter .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .enter .choose-number .text-get {
    color: #001EAE;
    font-size: 20px;
  }
  .get-started .win {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .get-started .win .choose-number {
    width: 300px !important;
  }
  .get-started .win .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .win .choose-number .text-get {
    font-size: 20px;
  }
  .section-blue .nav-blue {
    padding-top: 50px !important;
    padding-bottom: 0 !important;
  }
  .section-blue .nav-blue ul li img {
    width: 20px !important;
    height: 20px !important;
  }
  .section-blue .nav-blue ul li .text-li {
    font-size: 15px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days {
    width: 55px !important;
    height: 90px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days h1 {
    font-size: 25px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days span {
    font-size: 10px !important;
  }
  .evaluate-of-player .title-evaluate h1 {
    font-size: 30px !important;
  }
  .evaluate-of-player .evaluate {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .evaluate-of-player .evaluate .evaluate-table {
    max-height: 550px !important;
  }
}

@media (min-width: 420px) and (max-width: 599px) {
  header .header-billbroad {
    height: 50vh !important;
  }
  header .header-billbroad .title-header h1 {
    font-size: 40px !important;
  }
  header .header-billbroad .content-header {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }
  header .header-billbroad .content-header p {
    font-size: 12px !important;
  }
  header .header-billbroad .play-now {
    padding: 8px 25px !important;
    font-size: 10px !important;
  }
  .get-started .title-get h1 {
    font-size: 30px !important;
  }
  .get-started .choose {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .get-started .choose .choose-number {
    width: 300px !important;
  }
  .get-started .choose .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .choose .choose-number .text-get {
    font-size: 20px;
  }
  .get-started .enter {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .get-started .enter .choose-number {
    width: 300px !important;
  }
  .get-started .enter .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .enter .choose-number .text-get {
    color: #001EAE;
    font-size: 20px;
  }
  .get-started .win {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .get-started .win .choose-number {
    width: 300px !important;
  }
  .get-started .win .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .win .choose-number .text-get {
    font-size: 20px;
  }
  .section-blue .nav-blue {
    padding-top: 50px !important;
    padding-bottom: 0 !important;
  }
  .section-blue .nav-blue ul li img {
    width: 20px !important;
    height: 20px !important;
  }
  .section-blue .nav-blue ul li .text-li {
    font-size: 15px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days {
    width: 60px !important;
    height: 100px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days h1 {
    font-size: 25px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days span {
    font-size: 10px !important;
  }
  .evaluate-of-player .title-evaluate h1 {
    font-size: 30px !important;
  }
  .evaluate-of-player .evaluate {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .evaluate-of-player .evaluate .evaluate-table {
    max-height: 550px !important;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  header .header-billbroad {
    height: 60vh !important;
  }
  header .header-billbroad .title-header h1 {
    font-size: 50px !important;
  }
  header .header-billbroad .content-header {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }
  header .header-billbroad .content-header p {
    font-size: 12px !important;
  }
  header .header-billbroad .play-now {
    padding: 8px 25px !important;
    font-size: 10px !important;
  }
  .get-started .title-get h1 {
    font-size: 30px !important;
  }
  .get-started .choose {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 5px !important;
  }
  .get-started .choose .choose-number {
    width: 270px !important;
  }
  .get-started .choose .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .choose .choose-number .text-get {
    font-size: 20px;
  }
  .get-started .enter {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
    margin-bottom: 20px !important;
  }
  .get-started .enter .choose-number {
    width: 270px !important;
  }
  .get-started .enter .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .enter .choose-number .text-get {
    color: #001EAE;
    font-size: 20px;
  }
  .get-started .win {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .get-started .win .choose-number {
    width: 270px !important;
  }
  .get-started .win .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .win .choose-number .text-get {
    font-size: 20px;
  }
  .section-blue .nav-blue {
    padding-top: 50px !important;
    padding-bottom: 0 !important;
  }
  .section-blue .nav-blue ul li img {
    width: 20px !important;
    height: 20px !important;
  }
  .section-blue .nav-blue ul li .text-li {
    font-size: 15px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days {
    width: 100px !important;
    height: 156px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days h1 {
    font-size: 35px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days span {
    font-size: 10px !important;
  }
  .evaluate-of-player .title-evaluate h1 {
    font-size: 30px !important;
  }
  .evaluate-of-player .evaluate {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .evaluate-of-player .evaluate .evaluate-table {
    max-height: 500px !important;
  }
  .evaluate-of-player .evaluate .evaluate-table table {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .header-billbroad {
    height: 90vh !important;
  }
  header .header-billbroad .title-header h1 {
    font-size: 45px !important;
  }
  header .header-billbroad .content-header {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }
  header .header-billbroad .content-header p {
    font-size: 16px !important;
  }
  header .header-billbroad .play-now {
    padding: 10px 40px !important;
    font-size: 15px !important;
  }
  .get-started .title-get h1 {
    font-size: 30px !important;
  }
  .get-started .choose {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 0px !important;
    padding-right: 5px !important;
  }
  .get-started .choose .choose-number {
    width: 300px !important;
  }
  .get-started .choose .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .choose .choose-number .text-get {
    font-size: 20px;
  }
  .get-started .enter {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
    margin-bottom: 20px !important;
  }
  .get-started .enter .choose-number {
    width: 300px !important;
  }
  .get-started .enter .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .enter .choose-number .text-get {
    color: #001EAE;
    font-size: 20px;
  }
  .get-started .win {
    height: 79px !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
  }
  .get-started .win .choose-number {
    width: 300px !important;
  }
  .get-started .win .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .win .choose-number .text-get {
    font-size: 20px;
  }
  .section-blue .nav-blue ul li img {
    width: 20px !important;
    height: 20px !important;
  }
  .section-blue .nav-blue ul li .text-li {
    font-size: 15px !important;
  }
  .section-blue .bg-right-blue {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days {
    width: 80px !important;
    height: 110px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days h1 {
    font-size: 25px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days span {
    font-size: 10px !important;
  }
  .evaluate-of-player .title-evaluate h1 {
    font-size: 30px !important;
  }
  .evaluate-of-player .evaluate {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  header .header-billbroad {
    height: 100vh !important;
  }
  header .header-billbroad .title-header h1 {
    font-size: 60px !important;
  }
  header .header-billbroad .content-header {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }
  header .header-billbroad .content-header p {
    font-size: 18px !important;
  }
  header .header-billbroad .play-now {
    padding: 14px 50px !important;
    font-size: 18px !important;
  }
  .get-started .title-get h1 {
    font-size: 30px !important;
  }
  .get-started .choose {
    height: 200px !important;
    padding-left: 0px !important;
    padding-right: 5px !important;
  }
  .get-started .choose .choose-number {
    width: 300px !important;
  }
  .get-started .choose .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .choose .choose-number .text-get {
    font-size: 20px;
  }
  .get-started .enter {
    height: 200px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
    margin-bottom: 20px !important;
  }
  .get-started .enter .choose-number {
    width: 300px !important;
  }
  .get-started .enter .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .enter .choose-number .text-get {
    color: #001EAE;
    font-size: 20px;
  }
  .get-started .win {
    height: 200px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
  }
  .get-started .win .choose-number {
    width: 300px !important;
  }
  .get-started .win .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .win .choose-number .text-get {
    font-size: 20px;
  }
  .section-blue .nav-blue ul li img {
    width: 20px !important;
    height: 20px !important;
  }
  .section-blue .nav-blue ul li .text-li {
    font-size: 15px !important;
  }
  .section-blue .bg-right-blue {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days {
    width: 100px !important;
    height: 110px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days h1 {
    font-size: 30px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days span {
    font-size: 15px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1399px) {
  header .header-billbroad {
    height: 100vh !important;
  }
  header .header-billbroad .title-header h1 {
    font-size: 60px !important;
  }
  header .header-billbroad .content-header {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }
  header .header-billbroad .content-header p {
    font-size: 20px !important;
  }
  header .header-billbroad .play-now {
    padding: 14px 50px !important;
    font-size: 18px !important;
  }
  .get-started .title-get h1 {
    font-size: 40px !important;
  }
  .get-started .choose {
    height: 170px !important;
    padding-left: 0px !important;
    padding-right: 5px !important;
  }
  .get-started .choose .choose-number {
    width: 320px !important;
  }
  .get-started .choose .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .choose .choose-number .text-get {
    font-size: 20px;
  }
  .get-started .enter {
    height: 170px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
    margin-bottom: 20px !important;
  }
  .get-started .enter .choose-number {
    width: 320px !important;
  }
  .get-started .enter .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .enter .choose-number .text-get {
    color: #001EAE;
    font-size: 20px;
  }
  .get-started .win {
    height: 170px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
  }
  .get-started .win .choose-number {
    width: 320px !important;
  }
  .get-started .win .choose-number .icon img {
    width: 45px !important;
    height: 45px !important;
  }
  .get-started .win .choose-number .text-get {
    font-size: 20px;
  }
  .section-blue .nav-blue ul li img {
    width: 20px !important;
    height: 20px !important;
  }
  .section-blue .nav-blue ul li .text-li {
    font-size: 15px !important;
  }
  .section-blue .bg-right-blue .day-hours-min {
    top: 43% !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days {
    width: 110px !important;
    height: 180px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days h1 {
    font-size: 40px !important;
  }
  .section-blue .bg-right-blue .day-hours-min .days span {
    font-size: 15px !important;
  }
}

.about-us {
  background-image: url("../../assets/images/2020-05-04_23-32-25.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 60px;
  padding: 200px 50px;
}

.about-us .content-about-us {
  z-index: 10;
  bottom: 0;
}

.about-us .content-about-us h1 {
  font-size: 60px;
  font-weight: 400 !important;
}

.about-us .content-about-us p {
  font-size: 20px;
}

.about-us .content-about-us img {
  padding-top: 59px;
  z-index: 0;
  opacity: 0.8;
}

.chart-price {
  padding: 100px;
}

.chart-price h1 {
  font-weight: 600;
}

.contact-us {
  background-image: url("../../images/Group 456.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.contact-us h1 {
  font-weight: 500;
  color: #061E91;
}

.contact-us p {
  font-size: 18px;
}

.contact-us .contact input {
  width: 100%;
  padding: 20px;
  margin: 10px auto;
  border: none;
  color: black;
  border: 2px solid #061E91;
}

.contact-us .contact input::-webkit-input-placeholder {
  color: black;
}

.contact-us .contact input:-ms-input-placeholder {
  color: black;
}

.contact-us .contact input::-ms-input-placeholder {
  color: black;
}

.contact-us .contact input::placeholder {
  color: black;
}

.contact-us .contact .message {
  padding: 10px;
  width: 100%;
  outline: none;
  background-color: white;
  color: black;
  border: 2px solid #061E91;
}

.contact-us .contact .message::-webkit-input-placeholder {
  color: black;
}

.contact-us .contact .message:-ms-input-placeholder {
  color: black;
}

.contact-us .contact .message::-ms-input-placeholder {
  color: black;
}

.contact-us .contact .message::placeholder {
  color: black;
}

.contact-us .contact .submit {
  background-color: #061E91;
  width: 100%;
  border: none;
  padding: 7px 0;
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  margin-bottom: 40px;
}

#footer {
  background-image: url("../../assets/images/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 100px;
}

#footer .content-footer {
  padding: 0 100px;
}

#footer .content-footer .text {
  font-size: 16px;
}

#footer ul {
  font-size: 14px;
}

#footer ul li {
  margin-bottom: 10px;
}

#footer ul a {
  text-decoration: none;
  color: white;
}

#footer ul a:hover {
  text-decoration: none;
}

#footer .inp-email input {
  background: transparent;
  height: 50px;
  width: 90%;
  border-radius: 5px;
  color: white;
}

#footer .inp-email input::-webkit-input-placeholder {
  color: white;
}

#footer .inp-email input:-ms-input-placeholder {
  color: white;
}

#footer .inp-email input::-ms-input-placeholder {
  color: white;
}

#footer .inp-email input::placeholder {
  color: white;
}

#footer .inp-email button {
  background-color: #67FDCF;
  width: 140px !important;
  height: 50px;
  border: none;
  border-radius: 5px;
}

#footer .icons div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-bottom {
  padding: 20px;
  border-top: 1px solid #979595;
  margin-top: 50px;
}

#footer .footer-bottom span {
  color: #67FDCF;
}

.past-drawings {
  margin-top: 100px;
  padding: 70px 100px;
}

.past-drawings .icalendar__today {
  background-color: #061E91;
  color: #fff;
}

.past-drawings img {
  top: 0;
  left: 0;
  z-index: -1;
}

.past-drawings h1 {
  z-index: 8;
  text-shadow: -1px 0 #061E91, 0 1px #061E91, 1px 0 #061E91, 0 -1px #061E91;
}

.past-drawings .content-past-drawings .start-date .content, .past-drawings .content-past-drawings .end-date .content {
  height: 70px;
  width: 100%;
  padding: 10px;
  border: 2px solid #061E91;
}

.past-drawings .content-past-drawings .start-date .content div, .past-drawings .content-past-drawings .end-date .content div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.past-drawings .content-past-drawings .start-date .content div img, .past-drawings .content-past-drawings .end-date .content div img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.past-drawings .content-past-drawings .start-date .content input, .past-drawings .content-past-drawings .end-date .content input {
  border: none !important;
  width: 100%;
}

.past-drawings .content-past-drawings .btn-play {
  border: 1px solid #061E91;
  height: 70px;
  width: 70px;
}

.past-drawings .content-past-drawings .dateMonthYear .content {
  background-color: #061E91;
  color: white;
  height: 90px;
  font-size: 24px;
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.past-drawings .icalendar__prev, .past-drawings .icalendar__next {
  position: absolute;
  bottom: -148%;
  background: none !important;
}

.past-drawings .icalendar__prev {
  left: 8px;
}

.past-drawings .icalendar__next {
  right: 8px;
}

.past-drawings .icalendar {
  background-color: white;
  border: 2px solid #061E91;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.past-drawings .icalendar__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: black;
}

.past-drawings .icalendar__days div {
  height: 60px;
  border: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 14.285%;
}

.past-drawings .icalendar__days div:last-child {
  margin-right: 0 !important;
}

.past-drawings .icalendar__days div {
  padding: 10px;
}

.past-drawings .icalendar__days div span {
  width: 100%;
  text-align: right !important;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.past-drawings .icalendar__days, .past-drawings .icalendar__week-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.past-drawings .icalendar__week-days div {
  border-left: 3px solid white;
  width: 100%;
  background-color: #E4E6E8;
  font-weight: 700;
  padding: 15px 0;
  color: black;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: right;
}

.past-drawings .icalendar__week-days {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.past-drawings .icalendar__days label, .past-drawings .icalendar__week-days div {
  width: 14.285%;
  text-align: center;
}

.past-drawings .icalendar__days label {
  display: block;
  position: relative;
  padding: 4px 0;
}

.past-drawings .icalendar__days label.chosen_date {
  color: #FFF;
}

.past-drawings .icalendar__days input {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.past-drawings .icalendar__days div {
  -webkit-transition: .3s;
  transition: .3s;
}

.past-drawings .icalendar__days div:hover {
  background-color: #dfe6e9;
  cursor: pointer;
}

.past-drawings .icalendar__next-date, .past-drawings .icalendar__prev-date {
  background-color: #E4E6E8;
  color: #928f90;
  border-top: none !important;
}

.past-drawings div.icalendar__next-date:hover, .past-drawings div.icalendar__prev-date:hover {
  background-color: transparent;
  cursor: text;
}

.past-drawings .icalendar__current-date #icalendarMonth {
  margin-bottom: 0;
  padding: 0;
  padding: 10px 15px;
  font-size: 36px;
  color: #061E91;
  border-bottom: 2px solid #041B85;
  font-weight: 700;
  text-transform: uppercase;
}

.past-drawings .icalendar__current-date #icalendarYear {
  padding: 10px 15px;
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}

.past-drawings #icalendarDateStr {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
}

.past-drawings .icalendar__next, .past-drawings .icalendar__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 1;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.past-drawings .icalendar__next:hover, .past-drawings .icalendar__prev:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.past-drawings .fix-departure-date-span {
  position: relative;
  display: inline-block;
  padding: 6px 16px 6px 6px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 4px;
  border-radius: 4px;
  line-height: 1;
  font-size: 12px;
  letter-spacing: 1px;
}

.past-drawings .fix-departure-date-span .ddt-fix-departure-calendar-date-remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  text-decoration: none;
  text-align: center;
}

.past-drawings .fix-departure-date-span .ddt-fix-departure-calendar-date-remove:hover {
  color: red;
}

.past-drawings textarea.meta-fix-departure-calendar {
  width: 100%;
}

.past-drawings .ddt-fix-departure-calendar-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.past-drawings .ddt-fix-departure-calendar-box .ddt-fix-departure-calendar-box__column {
  width: 270px;
}

.past-drawings .ddt-fix-departure-calendar-box .ddt-fix-departure-calendar-box__column + .ddt-fix-departure-calendar-box__column {
  width: calc(100% - 275px);
  padding: 40px 10px;
}

@media all and (max-width: 540px) {
  .past-drawings .ddt-fix-departure-calendar-box .ddt-fix-departure-calendar-box__column + .ddt-fix-departure-calendar-box__column {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.01);
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .contact-us {
    padding-top: 230px;
  }
  .contact-us h1 {
    font-size: 30px !important;
  }
  .contact-us p {
    font-size: 15px !important;
  }
  .contact-us .btn-contact {
    font-size: 22px !important;
  }
  .contact-us .contact .submit {
    font-size: 22px;
  }
  .past-drawings h1 {
    font-size: 30px;
  }
  .contact-us .btn-contact {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .contact-us input {
    margin: 10px auto !important;
  }
  .contact-us .text-area {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .contact-us .submit {
    margin-top: 0px !important;
  }
  .chart-price h1 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .contact-us {
    margin-top: -70px !important;
  }
  .contact-us .btn-contact {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .contact-us input {
    margin: 10px auto !important;
  }
  .contact-us .text-area {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .contact-us .submit {
    margin-top: 0px !important;
  }
  .about-us {
    padding: 100px 0px;
  }
  .about-us h1 {
    text-align: center;
    font-size: 25px !important;
  }
  .about-us p {
    font-size: 15px !important;
    text-align: center;
  }
  .past-drawings {
    padding: 10px !important;
  }
  .past-drawings h1 {
    font-size: 25px;
  }
  .past-drawings .icalendar__prev, .past-drawings .icalendar__next {
    top: 40px !important;
  }
  .past-drawings .icalendar__prev img, .past-drawings .icalendar__next img {
    width: 70% !important;
  }
  .past-drawings .icalendar__current-date #icalendarMonth {
    font-size: 20px;
  }
  .past-drawings .icalendar__current-date #icalendarYear {
    font-size: 16px;
  }
  .chart-price {
    padding: 50px 0px !important;
  }
  .chart-price {
    padding: 100px 50px;
  }
  .chart-price .scroll {
    overflow-x: scroll;
    color: #068188;
  }
  .chart-price .scroll #myChart {
    width: 600px !important;
  }
  #footer .content-footer {
    padding: 0px 70px;
  }
}

@media (max-width: 375px) {
  .contact-us {
    margin-top: -150px !important;
  }
  #footer .content-footer {
    padding: 0px 50px;
  }
}

@media (max-width: 768px) {
  .past-drawings {
    padding: 70px 50px;
  }
  .past-drawings .content-past-drawings .dateMonthYear .content {
    margin-bottom: 20px;
  }
  .past-drawings .end-date p {
    color: white !important;
  }
  .past-drawings .icalendar__week-days div {
    font-size: 10px;
  }
}

@media (min-width: 1600px) {
  .contact-us {
    padding: 134px 0;
  }
  .contact-us h1 {
    font-size: 100px;
    font-weight: 500;
    color: #061E91;
  }
  .contact-us p {
    font-size: 23px;
  }
  .contact-us .contact input {
    width: 100%;
    font-size: 26px;
    padding: 20px;
    margin: 10px auto;
    border: none;
    color: black;
    border: 2px solid #061E91;
  }
  .contact-us .contact input::-webkit-input-placeholder {
    color: black;
  }
  .contact-us .contact input:-ms-input-placeholder {
    color: black;
  }
  .contact-us .contact input::-ms-input-placeholder {
    color: black;
  }
  .contact-us .contact input::placeholder {
    color: black;
  }
  .contact-us .contact .message {
    padding: 10px;
    font-size: 26px;
    width: 100%;
    outline: none;
    background-color: white;
    color: black;
    border: 2px solid #061E91;
  }
  .contact-us .contact .message::-webkit-input-placeholder {
    color: black;
  }
  .contact-us .contact .message:-ms-input-placeholder {
    color: black;
  }
  .contact-us .contact .message::-ms-input-placeholder {
    color: black;
  }
  .contact-us .contact .message::placeholder {
    color: black;
  }
  .contact-us .contact .submit {
    background-color: #061E91;
    width: 100%;
    border: none;
    padding: 7px 0;
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  #footer {
    background-image: url("../../assets/images/bg-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 100px;
  }
  #footer .content-footer {
    padding: 0 100px;
  }
  #footer .content-footer .text {
    font-size: 18px;
  }
  #footer .content-footer h3 {
    font-size: 48px;
  }
  #footer .title {
    font-size: 30px;
  }
  #footer ul {
    font-size: 14px;
  }
  #footer ul li {
    margin-bottom: 10px;
  }
  #footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  #footer ul li a:hover {
    text-decoration: none;
  }
  #footer .inp-email input {
    background: transparent;
    height: 100px;
    width: 80%;
    border-radius: 5px;
  }
  #footer .inp-email input::-webkit-input-placeholder {
    color: white;
    font-size: 30px;
  }
  #footer .inp-email input:-ms-input-placeholder {
    color: white;
    font-size: 30px;
  }
  #footer .inp-email input::-ms-input-placeholder {
    color: white;
    font-size: 30px;
  }
  #footer .inp-email input::placeholder {
    color: white;
    font-size: 30px;
  }
  #footer .inp-email button {
    background-color: #67FDCF;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 5px;
  }
  #footer .icons div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .footer-bottom {
    padding: 20px;
    border-top: 1px solid #979595;
    margin-top: 50px;
  }
  #footer .footer-bottom p {
    font-size: 24px;
  }
  #footer .footer-bottom span {
    color: #67FDCF;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .about-us {
    padding: 100px 0px;
  }
  .about-us h1, .about-us p {
    text-align: center;
  }
  .about-us h1 {
    font-size: 50px !important;
  }
  .chart-price {
    padding: 100px 20px;
  }
  .chart-price h1 {
    font-size: 30px;
  }
  .past-drawings {
    padding: 100px 20px;
  }
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}
/*# sourceMappingURL=style.css.map */